/* Global Styles */
body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    color: #000;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5b8652;
    padding: 10px 20px;
    border-radius: 1.5px solid #5b8652;
}
.logo-section {
    display: flex;
    align-items: center;
    position: relative;
}

.logo {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.logo-text {
    font-weight: 700;
    font-size: 20px;
    color: #000;
}

nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: 700;
    color: black;
    font-family:  Georgia, Times, 'Times New Roman', serif;
   
}

nav ul li {
    cursor: pointer;
    user-select: none;
    text-decoration: underline;
    position: sticky;
    position: -webkit-sticky;
}

nav ul li a:hover{
    text-decoration: underline;
    color: #000;
}
/* Hero Section */
.hero {
    background-color: #5b8652;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    position: relative;
}

.hero-image {
    flex-basis: 150px;
}

.kid-image {
    width: 100%;
    max-width: 150px;
    border-radius: 0;
}

.hero-text {
    flex-grow: 1;
    color: #f6bc3f;
    font-family: 'Times New Roman', serif;
}

.hero-text h1 {
    margin: 0;
    font-size: 2.2em;
    font-weight: 700;
}

.hero-text h3 {
    margin: 5px 0 0 0;
    color: #fff;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Tentang */
.tentang {
    background-color: #ecdcab;
    text-align: justify;
    color: #000;
    font-size: 18px;
    border-radius: 15px;
    padding: 40px 30px;
}

.tentang h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #000;
    text-align: center;
}

.tentang h2::after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background: #000;
    margin: 10px auto 0;
    border-radius: 2px;
}
.Analisis {
    background-color: #5b8652;
    border-radius: 3.5px;
}
.Analisis .grid {
    background-color: #5b8652;
    border-radius: 15px;
}
.Analisis h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #000;
    text-align: center;
}

.Analisis h2::after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background: #000;
    margin: 10px auto 0;
    border-radius: 2px;
}

.Analisis:hover{
    transform: scale(1.1);
    border-radius: 15px;
}

 .grid {
    display: grid;
    background-color: #fff;
    text-align: center;
    grid-template-columns: repeat(3, 1fr); /* kolom */
    gap: 50px; /*jarak antar kolom */
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    justify-items: center;
 }


 .item {
    background-color: #5b8652;
    border-radius: 12px;
    padding: 10px;
 }

.item:hover {
    transform: scale(1.1);
}

 .item img {
    width: 150px;
    height: 100px;
    border-radius: 50px;
    margin-bottom: 20px;
    background-color: beige;
 }


.item p {
    background:#5b8652;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 20px;
    color: aqua;
    font-size: 14px;
    font-weight: 600;
}
/* About Section */
.about, .team {
    background-color: #e9deb1;
    text-align: center;
    padding: 10px 20px 20px 20px;
    font-family: 'Times New Roman', serif;
}

.about h2, .team h2 {
    font-size: 2.2em;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
    text-shadow: 0 0 1px black;
}

.items {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.item {
    background-color: wheat;
    padding: 10px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item img {
    max-width: 80px;
    margin-bottom: 5px;
}

.item p {
    font-weight: 900;
    color: black;
    font-family: "Arial Black", Gadget, sans-serif;
    margin: 0;
    text-align: center;
    line-height: 1.1;
}

/* Second About Section */

.about2 {
    background-color: #5b8652;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 20px 20px 20px;
}

.items2 {
    display: flex;
    gap: 20px;
}

.item2 {
    background-color: #e9deb1;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

.item2 img {
    width: 60px;
    margin-bottom: 5px;
}

.item2 p {
    font-weight: 900;
    font-family: "Arial Black", Gadget, sans-serif;
    margin: 0;
    text-align: center;
}

/* Team Names */

.anggota h3{
    font-size: 18px;
    color: #000;
    text-align: center;
}
.anggota{
    text-align: center;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex-start;
   text-align: center;  
   background-color: #fff; 
   padding: 48px;
   transition: transform 0.3s;
   gap: 2rem;
}

.anggota:hover{
   transform: translateY(-50);
}

.anggota p{
   font-size: 18px;
   font-weight: bold;
   color: black;
}

.anggota-item{
   background-color: #ecdcab;
   margin: 00.5rem;
   max-width: 300px;
   margin-right: 25px;
   margin-left: 25px;
   padding: 1.5rem;
   border-radius: 10px;
   height: 263px;
   width: 180px;
   transition: transform 0.3s, box-shadow 0.3s;
}
.anggota-item:hover{
   transform: scale(1.1);
}
.anggota-item img{
   
   border-radius: 100%;
}
.anggota-item a{
   text-decoration: none;
}
.anggota-item a p:hover{
   text-decoration: none;
   color: #48240a;
}

.contact h2 {
    font-size: 2em;
    margin-bottom: 5px;
    font-weight: 700;
}

/* kontak */
.kontak {
    background-color: #5b8652;
    padding: 50px 20px;
    text-align: center;
    border-radius: 10px;
    margin-top: 40px;
}

.kontak h2 {
    font-size: 28px;
    color: #48240a;
    margin-bottom: 8px;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.kontak p {
    font-size: 16px;
    color: #48240a;
    margin-bottom: 30px;
}

.form-kontak {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-kontak input,
.form-kontak textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    font-family: inherit;
}

.form-kontak input:focus
.form-kontak textarea:focus {
    outline: none;
    border-color: #e1e1e1;
} 

.form-kontak button {
    background-color: #937d6d;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

.form-kontak button:hover{
    background-color: #51321c;
}

/* FOOTER */
footer {
  background-color : #ecdcab; /* abu muda */
  color: #4b2e05; /* coklat tua */
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 40px 0 20px 0;
}

.footer-container {
  display: flex;
  justify-content: center;
  gap: 220px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.footer-column {
  text-align: left;
}

.footer-column h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #4b2e05;
  font-weight: 700;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column li {
  margin: 6px 0;
}

.footer-column a {
  text-decoration: none;
  color: #4b2e05;
  transition: color 0.3s;
}

.footer-column a:hover {
  color: #9b6c2f;
  text-decoration: underline;
}

.footer-copy {
  font-size: 14px;
  color: #4b2e05;
  margin-top: 10px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
div {
   flex-wrap: wrap;
}